main {
  background-color: #6bbcbe;
  width: 526px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 155px 0px;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  will-change: transform;
  animation-duration: 1s;
  animation-delay: -0.4s;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.ellipsis__element {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
}

.wave {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.wave__element {
  width: 9px;
  height: 38px;
  background-color: white;
  animation-duration: 1s;
  animation-name: grow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.wave .wave__element:nth-of-type(1) {
  animation-delay: -0.4s;
}

.wave .wave__element:nth-of-type(2) {
  animation-delay: -0.3s;
}

.wave .wave__element:nth-of-type(3) {
  animation-delay: -0.2s;
}

.wave .wave__element:nth-of-type(4) {
  animation-delay: -0.1s;
}

.wave .wave__element:nth-of-type(5) {
  animation-delay: 0s;
}

@keyframes grow {
  0%,
  40% {
    transform: scaleY(1);
  }

  20% {
    transform: scaleY(1.8);
  }
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}
