main {
  height: 560px;
  width: 777px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  height: 240px;
  width: 240px;
  background-color: #f5deb3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid black;
}

.base-center {
  height: 50px;
  width: 200px;
  background-color: #008080;
  border: dashed white;
}

.base-ud {
  height: 50px;
  width: 50px;
  background-color: #008080;
  border: solid white;
}
