body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  background-color: #ffce33;
  display: flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  align-items: center;
  height: 110px;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
}

header > span {
  width: 33%;
  margin-bottom: 20px;
}

header > span:first-child {
  margin-left: 2.5%;
}

header > span:nth-child(2) {
  text-align: center;
}

header > span:last-child {
  margin-right: 2.5%;
  text-align: right;
}

.search-book {
  width: 95%;
  height: 55px;
  display: flex;
  position: fixed;
  border-radius: 27.5px;
  top: 80px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 18px;
}

.search-book > span:first-child {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.search-book > span:last-child {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 20px;
}

.star {
  display: flex;
  justify-content: space-between;
  color: #ffce33;
}

.book-of-the-day {
  margin-top: 90px;
  width: 95%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.book-of-the-day > article {
  display: flex;
}

.book-of-the-day__img {
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

.book-of-the-day > article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-of-the-day__name {
  margin: 0;
}

.book-of-the-day__author {
  opacity: 0.5;
  font-weight: 600;
  margin: -15px 0;
}

.book-of-the-day__rate {
  font-size: 15px;
  width: 130px;
}

.book-of-the-day__buttons_1 {
  display: flex;
}

.book-of-the-day__buttons_1 > span {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 600;
}

.book-of-the-day__buttons_1 > span:last-child {
  margin-left: 10px;
}

.book-of-the-day__buttons_2 {
  display: flex;
}

.book-of-the-day__buttons_2 > span {
  height: 35px;
}

.book-of-the-day__buttons_2 > span:first-child {
  display: flex;
  width: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffce33;
}

.book-of-the-day__buttons_2 > span:last-child {
  display: flex;
  margin-left: 30px;
  width: 115px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.top-adventure {
  width: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.top-adventure__title {
  margin: 15px 0;
}

.top-adventure__list {
  display: flex;
  overflow-x: scroll;
}

.top-adventure__list > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.top-adventure__img {
  height: 140px;
  border-radius: 10px;
}

.top-adventure__rate {
  font-size: 10px;
  width: 80px;
  margin-top: 10px;
}

.popular-author {
  width: 95%;
  margin-top: 30px;
}

.popular-author__title {
  margin: 0;
  margin-bottom: 20px;
}

.popular-author__article {
  display: flex;
  justify-content: space-between;
}

.popular-author__img {
  height: 200px;
  margin-right: 30px;
  border-radius: 10px;
}

.popular-author__name {
  margin: 0px;
  margin-bottom: 15px;
}

.popular-author__info {
  opacity: 0.4;
  height: 150px;
  font-weight: 600px;
  margin: 0;
}
