/* * {
  border: 0.1px solid;
} */

body {
  background-color: #f5f5f6;
  display: flex;
  align-items: center;
  width: 940px;
}

.screen {
  width: 370px;
  height: 800px;
  background-color: white;
  margin: 50px;
  border-radius: 30px;
  position: relative;
}

.playlist-header {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.playlist-header__img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.playlist-header__title {
  font-size: 27px;
}

.playlist-header__genres {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  opacity: 0.4;
}

.playlist-header__buttons {
  margin: 40px;
  display: flex;
}

.playlist-header__buttons > div {
  margin: 0px 15px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.playlist-header__buttons > div:first-child {
  background-color: black;
  color: white;
}

.playlist-header__buttons > div > i {
  margin-right: 10px;
}

.playlist-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
}

.playlist-song {
  display: flex;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}

.playlist-song > div:first-child {
  display: flex;
  position: relative;
}

.playlist-song > div > i {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 17.5px;
  top: 17.5px;
}

.playlist-song__img {
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
}

.playlist-song__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playlist-song__singer {
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: -7px;
}

.playlist-song__name {
  margin: 0px;
  font-weight: 600;
  opacity: 0.9;
  font-size: 18px;
}

.playlist-song > i {
  position: absolute;
  right: 10px;
  top: 17.5px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  opacity: 0.4;
}

.playlist-controller {
  position: absolute;
  bottom: 10px;
  width: 330px;
  box-sizing: border-box;
  background-color: black;
  margin: 5px 20px;
  border-radius: 35px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.playlist-controller__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  height: 100%;
}

.playlist-controller__info > span:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin-bottom: 3px;
}

.playlist-controller__info > span:last-child {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.playlist-controller__buttons {
  color: white;
  margin-right: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-controller__buttons > i:nth-child(2) {
  font-size: 22px;
}

.music-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-main__img {
  margin-top: 30px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #eeaaa3;
}

.music-main__name {
  margin: 0;
  margin-top: 80px;
  font-size: 25px;
}

.music-main__singer {
  opacity: 0.3;
  font-size: 15px;
  margin: 0;
  margin-top: 15px;
}

.music-main__status {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.music-main__status > div:first-child {
  display: flex;
  justify-content: space-between;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 600;
}

.music-main__bar {
  margin-top: 15px;
  width: 100%;
  display: flex;
  position: relative;
}

.music-main__bar > div:first-child {
  height: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.music-main__bar > div:nth-child(2) {
  position: absolute;
  height: 5px;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.music-main__bar > div:last-child {
  position: absolute;
  left: 172.5px;
  top: -5px;
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
}

.music-main__controller {
  margin: 40px 30px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.music-main__controller > span:nth-child(1),
span:nth-child(5) {
  opacity: 0.3;
}

.music-main__controller > span:nth-child(3) {
  display: flex;
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
